button, input {
  font-family: inherit;
}

.container {
  padding: 15px 0px;
  width: 100%;
}

img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 500px;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-width: 0px;
  border: none;
}

ul {
  list-style-type: none;
}

li {
  margin-right: 10px;
}

.option-btn {
  width: 75px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.option-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.option-btn:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.detail-card-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 100px 250px;
}

@media(max-width: 800px) {
  .detail-card-container {
    margin: 100px 100px;
  }
}